@{
    Response.Headers["X-UA-Compatible"] = "IE=10";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Information Visualization</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

</head>
<body>
    <div id="body" class="homebody">
        <div class="search-wrapper cf">
            <input id="search" type="text" placeholder="Search here..." required="">
            <button id="sb">Search</button>
        </div>
        <div id="res"></div>
    </div>


    <script type="text/javascript">
        $(document).ready(function () {
            
            $("#search").keyup(function (event) {
                if (event.keyCode == 13) {
                    $("#sb").click();
                }
            });
            $("#sb").click(function () {
               var text = $("#search").val();
                $.ajax({
                    type: "POST",
                    url: "/Home/FindMovies",
                    data: {
                        key: text
                    },
                    success: function (movies) {
                        console.log(movies);
                        $("#res").empty();
                        $.each(movies.Results, function (i, data) {
                            var div_data =
                            "<div class='row'>"+
                            "<div class='poster, column'> "+ 
                            " <a href='/movie/225747-vendetta' title=" + data.Title + "><img class='right_shadow' src='http://image.tmdb.org/t/p/w92/" + data.PosterPath + "' width='92' height='138' /></a>" +
                            "</div>"+
                            "<div class='info, column, column-text'>" +
                            "<h3><a href='/Home/ViewMovie?idmovie="+data.Id+"' title=" + data.Title + "'>" + data.Title + "</a> </h3>" +
                            "<p><a>Popularity: " + parseFloat(data.Popularity).toFixed(2) + "</a> </p>" +
                            "<p><a>Score: " + data.VoteAverage + "</a></p>" +
                            "<p><a>Total votes: " + data.VoteCount + "</a></p>" +
                            "</div>"
                            "</div>"
                             $(div_data).appendTo("#res");
                        });
                    },
                    error: function (req, status, error) {
                    }
                });
            });
        });
    </script>
</body>

</html>
